.landing-background {
  background: url('/images/223.jpg') no-repeat center center fixed;
  background-size: cover;
  max-width: 100%;
  height: auto;
}

.landing-title {
  padding-top: 50px;
  font: 7em verdana, sans-serif;
}

.landing-subtitle {
  padding-top: 15px;
  padding-bottom: 25px;
  font: 2em verdana, sans-serif;
}

.landing-middle {
  padding: 12px;
}

.home {
  padding-top: 20px;
}

.button {
  padding-top: 15px;
  padding-bottom: 50px;
}

.edit-club-background {
  background-color: #D5E8D4;
  background-size: cover;
}