.landing-background {
  background: url('/images/landing.jpg') no-repeat center center fixed;
  background-size: cover;
  min-width: 100%;
  min-height: 100%;
}

.landing-title {
  font: 7em verdana, sans-serif;
}

.landing-subtitle {
  padding-top: 15px;
  padding-bottom: 25px;
  font: 2em verdana, sans-serif;
}

.landing-first-grid-row {
  background-color: rgba(115, 115, 115, 0.45);
  padding-left: 50px;
  padding-right: 50px;
  border: thick solid white;
}

.landing-middle {
  padding: 25px;
  background-color: rgba(115, 115, 115, 0.45);
  border: thin solid white;
}

.home {
  padding-top: 20px;
}

:root {
  --space: 1.5em 0;
  --space: 2em 0;
}

.Site {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.Site-content {
  flex: 1 0 auto;
  padding: var(--space) var(--space) 0;
  width: 100%;
}

.Site-content:after {
  content: '\00a0';
  display: block;
  margin-top: var(--space);
  height: 0;
  visibility: hidden;
}

.footer-background {
  background-color: #F8F8F9;
}

.button {
  padding-top: 15px;
  padding-bottom: 50px;
}

.edit-club-background {
  background-color: #D5E8D4;
  background-size: cover;
}
